* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(48, 48, 48);
}

@font-face {
    font-family: 'Logo';
    src: url('https://img.justpureh2o.cn/fonts/HFSnakyLines.woff2');
}

footer {
    color: #FFFFFF;
    position: fixed;
    z-index: 0;
    width: 100%;
    text-align: center;
    bottom: 0;
}
