* {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
}

@font-face {
    font-family: 'Logo';
    src: url('./assets/font/Jalnan.ttf');
}

body {
}

.app {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    width: 100%;
    height: fit-content;
    background: linear-gradient(180deg, rgb(72, 228, 117) 0%, rgb(88, 223, 98) 100%);
}

.title {
    height: fit-content;
    background: transparent;
    padding: .5em;
}

.unit {
    display: flex;
    flex-direction: row;
    margin-top: .2em;
}

.box {
    display: flex;
    flex-direction: column;
}

.box[data-right] {
    margin-left: auto;
}

.avatar {
    flex: none;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    object-fit: cover;
}

.group {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}

.student {
    font-weight: 700;
    font-size: 1em;
}

.textbox {
    background: #383838;
    width: fit-content;
    padding: .5em;
    align-items: flex-start;
    margin-top: .1em;
    margin-bottom: .3em;
}

.textbox[data-round] {
    border-radius: .5em;
}

.text {
    color: #FFFFFF;
    background: #383838;
}

.reply {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3d5e7e;
    padding: .5em;
    margin-left: auto;
    border-radius: .5em;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #872641 url("./assets/common/heart.svg") no-repeat right -25% center;
    padding: .5em;
    margin-left: auto;
    border-radius: .5em;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5em;
    background-color: transparent;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #1e2136;
}

.button {
    cursor: pointer;
    min-width: 9em;
    margin-top: .4em;
    padding: .5em;
    border-radius: .4em;
    background-color: #383838;
    color: #FFFFFF;
}

.button[data-unselected] {
    transition: background-color ease .375s;
}

.button[data-unselected]:hover {
    background-color: #639bdf;
}

.button[data-selected] {
    background: #4c78ae;
}

.button[data-story] {
    background-color: #e36889;
}

.suitable-button {
    cursor: pointer;
    width: fit-content;
    margin-top: .4em;
    padding: .5em;
    border-radius: .4em;
    background-color: #383838;
    color: #FFFFFF;
    transition: background-color ease .2s;
}

.suitable-button:hover {
    background-color: #2ca649;
}

.suitable-button[data-left] {
    margin-right: auto;
}

.suitable-button[data-right] {
    margin-left: auto;
}

.status {
    background-color: inherit;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: .2em;
}

.status:before {
    display: inline-block;
    background-color: #6da7ed;
    margin-right: .5em;
    width: .1em;
    height: .95em;
    border-radius: 5%;
    content: "";
}

.stat {
    background-color: inherit;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: .2em;
}

.stat:before {
    display: inline-block;
    background-color: #e36889;
    margin-right: .5em;
    width: .1em;
    height: .95em;
    border-radius: 5%;
    content: "";
}

.container {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    width: 95%;
    height: 100%;
}

.end {
    text-align: center;
    border-top: 2px solid #000;
    margin: 2em 1em .5em 1em;
}

.endtxt {
    position: relative;
    top: -0.7em;
    padding: .5em;
    font-weight: 550;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: .5em 1em .5em 1em;
}

.image-box {
    background-color: transparent;
}

img[data-inline] {
    width: 10em;
    height: auto;
    background-color: transparent;
}
